@tailwind base;
@tailwind components;
@tailwind utilities;

/* 커스텀 스크롤바 스타일 */
::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비를 설정합니다. */
}

::-webkit-scrollbar-track {
  background: transparent; /* 스크롤바 트랙을 투명하게 설정합니다. */
}

::-webkit-scrollbar-thumb {
  background: rgba(
    255,
    255,
    255,
    0.3
  ); /* 스크롤바 손잡이를 반투명하게 설정합니다. */
  border-radius: 4px; /* 스크롤바 손잡이에 둥근 모서리를 추가합니다. */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(
    255,
    255,
    255,
    0.5
  ); /* 스크롤바 손잡이를 호버했을 때 약간 더 불투명하게 설정합니다. */
}
